* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    font-family: "Roboto";
}

.mainheader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

header {
    width: 100vw;
    text-align: center;
}
.vorskylogo {
    height: 7%;
    width: 7%;
    position: absolute;
    left: 45%;
    top: 2%;
}

.overlay {
    top: 0;
    height: 10vh;
    width: 100vw;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
}
.overlay2 {
    top: -2%;
    left: -2%;
    height: 15vh;
    width: 30vw;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
}

.topnav {
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: row; 
    justify-content: flex-end; 
    top: 5%;
    right: 5%;
}

.topnav a {
    padding: 0 2.5% 0 0;
    font-size: 25px;
    color: white;
}

.mainheader #officebuilding {
    height: 100%;
    width: 100%;
}

.zjistitvice {
    height: 100vh;
    width: 100vw;
    position:absolute;
    top: 45%;
    left: 25%;
    color: white;
    font-family: "Roboto";
}

.bn54 {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 45px;
    width: 130px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.6);
  }
  
  .bn54 .bn54span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
  
  .bn54:hover {
    animation: bn54rotate 0.7s ease-in-out both;
  }
  
  .bn54:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  @keyframes bn54rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  @keyframes bn54storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }